*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: green;
    --secondary-color: yellow;
}
.title{
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.parent{
    width: 90%;
    height: 300px;
    border: 3px solid purple;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.space-between{
    display: flex;
    justify-content: space-between;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-around{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#flex-end{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    border: 2px solid crimson;
}
#flex-start{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    border: 3px solid navy;
}
#center{
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 3px solid red;
}
.item{
    width: 300px;
    height: 80px;
    border: 1px solid red;
    font-size: 2ex;
    font-weight: 200;
}
.blue2{
    flex-grow:calc(2);
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.login-form input{
    margin-top: 1em;
    font-size: 1.5em;
    padding: 5px 10px;
}
.login-form input[type="submit"]{
    background-color: goldenrod;
    border: 0;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 600;
    
}
.container-grid{
    display: grid;
    /* grid-template-columns: 200px auto 200px 300px; */
    /* grid-template-columns: repeat(3, 1fr) 100px; */
    grid-template-columns: repeat(5, 1fr);
    /* justify-items: center; */
    


}
.grid{
    border: 2px solid goldenrod;
    font-size: 1.5em;
}
.calander{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 75);
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;
}
.date .day{
    background-color: #a4def5;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.other-month, .day{
    background-color: lightgrey;
}
.day{
    font-size: 1.5em;
}
.food-section{
    width: 90%;
    margin: auto;
    border: dashed 2px purple;
   
}
.container-food{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.food{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.food p{
    text-align: justify;
    padding: 10px;
}
.food img{
    width: 100%;
}
/* footer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/bg.png);
    color: yellowgreen;
} */